<ion-toolbar color="primary">
  <ion-title>HERO CARD </ion-title>
</ion-toolbar>
<ion-content>
  <!-- <ion-searchbar (ionInput)="filterList($event)">

  </ion-searchbar> -->

  <ion-list line="none">
    <ion-item *ngFor="let item of data | slice:0:limit" color="dark" lines="none">
      <ion-card (click)="viewDetails(item)" class="card" class="centercard" lines="none">&nbsp;
        <img src="{{item.images.sm}}" class="center" />
        <ion-card-header>
          <ion-card-title>{{item.name}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-item>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
