.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px 20px;
  border: solid 8px;
  border-color: rgba(3, 3, 3, 0.87);
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}



.centercard {

  margin-left: auto;
  margin-right: auto;
}

.center:hover{
  transform: scale(1.08);
  box-shadow: 0 10px 20px rgba(247, 247, 247, 0.12), 0 4px 8px rgba(0,0,0,.06);

}

ion-card-title {
  text-align: center;
}


ion-card {
  border-radius: 10px;
  border: solid 8px;
  border-color: rgba(146, 146, 145, 0.87);
  display: inline-block;
  width: 65%;
	animation-name: backgroundColorPalette;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
	/* linear is enabled default, it’s not necessary to add it make it work but it can make your code more expressive */
}

@keyframes backgroundColorPalette {
	0% {
		background: #ee6055;
	}
	25% {
		background: #60d394;
	}
	50% {
		background: #aaf683;
	}
	75% {
		background: #ffd97d;
	}
	100% {
		background: #ff9b85;
	}
}


